.fcs-disabled-item {
     pointer-events: all;
}

/* Using class apex-item-text as well as fcs-readonly-item gives it priority over the theme */
.apex-item-text.fcs-readonly-item {
     color: black;
     background-color: rgb(224, 222, 222);
     opacity: 1;
     pointer-events: all;
}

.apex-item-text.fcs-readonly-item:hover {
     background-color: rgb(224, 222, 222);
}

.apex-item-text.fcs-readonly-item:focus {
     background-color: rgb(224, 222, 222) !important;
}
